
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lg-transitions.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css"/>

</head>

<div id="lightgallery">


      
    <a href="/locais-img/614b5664a58963e285a2c519/52633909_293734914651739_8264299066494550016_n.jpg">
      <img src="/locais-img/614b5664a58963e285a2c519/52633909_293734914651739_8264299066494550016_n.jpg" />
  </a>
                                      
    

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
 
<!-- lightgallery plugins -->



 <script>
    lightGallery(document.getElementById('lightgallery'), {
      
    });
</script>